#container {
  position: relative;
}

#main,
#confirmation,
#error {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#confirmation,
#error {
	background-color: #FFC33C;
	display: none;
  z-index: 10;
}

#title {
	padding: 10px;
	font-size: 15px;
	flex: 0 1 100%;
	background-color: #FFC33C;
	box-shadow: 0 0 4px #FFC33C,0 4px 8px rgba(0,0,0,.28);
}

#highlight {
	margin: 5px 10px 10px 20px;
  padding: 0px 0px 0px 25px;
	font-style: italic;
  border-left: thick solid #d3d3d3;
	flex: 0 1 100%;
}

#recipient {
	padding: 0 0 0 5px;
	margin-left: 10px;
	width: 201px;
	height: 28px;
	font-family: 'MyFont',serif;
	font-size: 12px;
	flex: 0 1 60%;
}

#send {
	margin-left: 5px;
	flex: 0 1 18%;
}

#send:active {
	transform: translateX(5px) rotate(20deg) scale(.9);
}

#link {
	padding: 8px 8px 8px 8px;
	font-size: 8px;
	flex: 0 1 100%;
}

.flex-container {
	width: 300px;
	font-family: 'MyFont',serif;
	color: #333;
	display: -webkit-flex;
	display: flex;
	vertical-align: middle;
	flex-flow: wrap;
	position: relative;
}

.vertically-align {
	position: absolute;
	width: 100%;
	text-align:center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
	padding: 10px;
	font-size: 15px;
	flex: 0 1 100%;
	top: 20px;
	position: absolute;
	bottom: 20px;
	background-color: #FFC33C;
	box-shadow: 0 0 4px #FFC33C,0 4px 8px rgba(0,0,0,.28);
}

.style-text-box {
	background-color: #FAFAFA;
	border-style: none;
	border-bottom: thin solid #FFC33C;
	text-indent: 5px;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grow {
	transition: all .18s ease-in-out;
}

.grow:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 4px rgba(0,0,0,.14),4px 4px 2px rgba(0,0,0,.28);
}

.pivot {
	animation: pivot .6s cubic-bezier(.36,.77,.19,.97) both;
}

.shake {
	animation: shake .6s cubic-bezier(.36,.07,.19,.97) both;
}

input {
	outline: none;
}

* {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

@keyframes pivot {
	50% {
		transform: translateX(5px) rotate(20deg) scale(.9);
	}
}

@keyframes shake {
	10%,90% {
		transform: translate3d(-1px,0,0);
	}

	20%,80% {
		transform: translate3d(2px,0,0);
	}

	30%,50%,70% {
		transform: translate3d(-4px,0,0);
	}

	40%,60% {
		transform: translate3d(4px,0,0);
	}
}

@font-face {
	font-family: 'MyFont';
	src: url(../fonts/Lantinghei-SC-Extralight-stub.ttf) format("truetype");
}
