/*Layout*/
.flex-container {
  width: 300px;
  font-family: 'MyFont', serif;
  color: #333;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
}

/*Elements*/
#title {
  font-size: 15px;
  flex: 0 1 100%;
}

/*#highlight-image {
  float: left;
  order: 2;
  height: 20px;
  flex: 0 1 10%;
}*/

#highlight {
  font-style: italic;
  flex: 0 1 100%;
}

#recipient {
  width: 201px;
  height: 28px;
  font-family: 'MyFont', serif;
  font-size: 12px;
  flex: 0 1 60%;
}

/*#comment {
  height: 20px;
  font-family: 'MyFont', serif;
  font-size: 10px;
  flex: 0 1 100%;
}*/

#send {
  flex: 0 1 19.5%;
}
#send:active {
  transform: translateX(30px) rotate(120deg) scale(.6);
}

#link {
  font-size: 8px;
  flex: 0 1 100%;
}

#space {
  font-size: 4px;
  flex: 0 1 100%;
}

/*Font Style*/
@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Lantinghei-SC-Extralight-stub.ttf') format('truetype');
}

/*Text Box Style*/
.styleTextBox {
  background-color: #EEEEEE; /*#FFF8E1*/
  /*box-shadow: inset -1px 2px 3px 1px #bbb;*/
  border-style: none;
  border-bottom: thin solid #FFC33C;
  text-indent: 5px;
}
input {
  outline:none;
}

/*Growing Icons*/
.grow {
  transition: all .05s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
