/*Container*/
.flex-container {
  width: 300px;
  font-family: 'MyFont', serif;
  color: #333;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
}

/*Heading*/
#title {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  flex: 0 1 100%;
  background-color: #FFC33C;
  box-shadow: 0 0 4px #FFC33C, 0 4px 8px rgba(0,0,0,.28);
}
* {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*Highlight*/
#highlight {
  padding: 5px 10px 0px 35px;
  font-style: italic;
  flex: 0 1 100%;
}

/*Comment*/
/*#comment {
  padding: 0px 0px 10px 5px;
  margin-left: 10px;
  height: 20px;
  font-family: 'MyFont', serif;
  font-size: 12px;
  flex: 0 1 100%;
}*/

/*Email Address*/
#recipient {
  padding: 0px 0px 0px 5px;
  margin-left: 10px;
  width: 201px;
  height: 28px;
  font-family: 'MyFont', serif;
  font-size: 12px;
  flex: 0 1 60%;
  /*box-shadow: 0 0 0px rgba(0,0,0,.14), 0px 4px 2px -3px rgba(0,0,0,.28);*/
}
.styleTextBox {
  background-color: #FAFAFA;
  border-style: none;
  border-bottom: thin solid #FFC33C;
  text-indent: 5px;
}
input {
  outline:none;
}

/*Send Button*/
#send {
  margin-left: 5px;
  flex: 0 1 18%;
}
#send:active {
  transform: translateX(5px) rotate(20deg) scale(.9);
}
.grow {
  transition: all .18s ease-in-out;
}
.grow:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 4px rgba(0,0,0,.14), 4px 4px 2px rgba(0,0,0,.28);
}

/*URL Link*/
#link {
  padding: 10px 10px 0px 10px;
  font-size: 8px;
  flex: 0 1 100%;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Font Style*/
@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Lantinghei-SC-Extralight-stub.ttf') format('truetype');
}
