#container {
  min-width: 400px;
  max-width: 400px;
  background-color: #F7EAC8;
  font-family: 'MyFont', serif;
}

#title {
  font-size: 20px;
  max-width: 400px;
}

#highlight {
  font-style: italic;
}

#comment {
  resize: none;
  min-width: 300px;
  max-width: 300px;
}

#recipient {
  min-width: 300px;
  max-width: 300px;
}

#link {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.styleTextBox {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 1px 2px 3px 1px #ccc;
  border-style: none;
}

@font-face {
    font-family: 'MyFont';
    src: url('Font/Lantinghei-SC-Extralight-stub.ttf') format('truetype');
}
