#container {
  width: 300px;
  background-color: #F7EAC8;
  font-family: 'MyFont', serif;
  /*display: flex;
  flex-wrap: wrap;*/
}

#title {
  font-size: 20px;
  max-width: 400px;
  /*flex 1 1 auto;
  flex-basis: 100%;*/
}

#highlight-image {
  float: left;
  /*flex-basis: 20%;*/
}

#highlight {
  font-style: italic;
  /*flex-basis: 80%;*/
}

#recipient {
  min-width: 201px;
  max-width: 201px;
  min-height: 28px;
  max-height: 28px;
  font-family: 'Lustria', serif;
  font-size: 12px;
  float: left;
  /*flex-basis: 60%;*/
}

#comment {
  resize: none;
  min-width: 200px;
  max-width: 200px;
  min-height: 18px;
  max-height: 18px;
  font-family: 'Lustria', serif;
  font-size: 10px;
}

#send {
  /*flex-basis: 40%;*/
}

#link {
  font-size: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  /*flex-basis: 100%;*/
}

.styleTextBox {
  background-color: #FFF8E1;
  box-shadow: inset -1px 2px 3px 1px #ccc;
  border-style: none;
  text-indent: 5px;
}

@font-face {
    font-family: 'MyFont';
    src: url('Font/Lantinghei-SC-Extralight-stub.ttf') format('truetype');
}

input {
 outline:none;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.1); }
